---
import { Code } from 'astro:components';
const { node } = Astro.props;
---

<div class='mb-8'>
  <Code
    class='rounded-md border-2 border-cyan-500 p-4'
    code={node.code}
    lang={node.language}
    theme='laserwave'
  />
</div>
