---
import Layout from '@/components/Layout.astro';
import H1 from '@/components/sanity/H1.astro';
import type { Post } from 'sanity.types';
import { sanityClient } from 'sanity:client';

const posts = await sanityClient.fetch<Post[]>(
  `*[_type == "post" && publishedAt <= $now] | order(publishedAt desc) { _id, title, slug, publishedAt }`,
  { now: new Date().toISOString() },
);
---

<Layout title='Blog'>
  <section class='my-16'>
    <H1>Articles</H1>
    <ol class='mt-2 space-y-2'>
      {
        posts.map((post) => {
          if (!post.publishedAt || !post.slug) {
            return '';
          }

          const date = new Date(post.publishedAt).toLocaleDateString('en-US', {
            dateStyle: 'long',
          });
          return (
            <li class='space-x-1'>
              <a
                class='underline decoration-cyan-500 decoration-2 transition duration-300 ease-in-out hover:text-fuchsia-500 dark:text-white dark:hover:text-fuchsia-500'
                href={`blog/${post.slug.current}`}
              >
                {post.title}
              </a>{' '}
              <span class='text-sm'>{date}</span>
            </li>
          );
        })
      }
    </ol>
  </section>
</Layout>
